* {
    text-decoration: none;
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../images/landing.jpg'); 
    background-repeat: no-repeat;       
    background-size: unset;         /*cover*/
}

.navbar {
    background: black;
    font-family: calibri;
    padding: 1; /* Remove padding */                            /*0*/
    margin: 0; /* Remove margin */
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px; /* Adjust the padding to make it smaller */
}

.brand a {
    font-size: 20px; /* Reduce the font size for the brand */   /*30, 600, white*/
    font-weight: 500;
    color: rgb(255, 255, 255);
}

nav li {
    list-style: linear-gradient();                   /*none*/
    display: inline-block;
}

nav li a {
    color: white;
    font-size: 20px; /* Reduce the font size for the links */       /*16px*/
    font-weight: light;                                              /*bold*/
    margin-right: 20px; /* Adjust the margin as needed */
}

nav button {
    background-color: black;                                    
    margin-left: 20px;                                                  /*10px*/
    border-radius: 10px;
    padding: 8px; /* Adjust the padding for buttons */
    width: 80px; /* Adjust the width for buttons */
}

nav button a {
    color: white;
    font-weight: bold;
    font-size: 14px; /* Reduce the font size for button text */
}

.red-text {
    color: red;
    font-weight: bold;
}
