<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <title>Terms and Conditions</title>
    <link rel="icon" href="{% static 'RentACar/images/favicon.jpg' %}" type="image/jpg">
    <!-- Add your styles here if needed -->
</head>

<body>
    <div style="text-align: center;">
    <h2>Terms and Conditions</h2>
    <p>Car Rental Terms and Conditions</p>

    <p><b>1. Rental Agreement</b></p>

    <p>The following terms and conditions constitute a legally binding agreement between [Your Car Rental Company Name]
    ("the Company") and the renter ("the Renter"). By renting a vehicle from the Company, the Renter agrees to abide by
    these terms and conditions.</p>
    <p><b>2. Rental Requirements:</b></p>

    <p>The Renter must be at least [Minimum Age] years old and possess a valid driver's license at the time of rental.
    The Renter is required to provide a valid form of identification and a valid credit card for the rental transaction.</p>

    <p><b>3. Vehicle Use</b></p>

    <p> rented vehicle may only be used for personal transportation and not for commercial purposes.
    The Renter is responsible for returning the vehicle in the same condition as it was received, with normal wear and
    tear expected.</p>

    <p><b>4. Rental Duration</b></p>

    <p>The rental period commences on the date and time specified in the rental agreement and ends on the date and time
    agreed upon. Any extension of the rental period must be arranged with the Company in advance. </p>

    <p><b>5. Rental Fees and Payment</b></p>

     <p>The Renter agrees to pay the rental fees as specified in the rental agreement, including additional charges for
    fuel, additional drivers, and other optional services.
    Payments may be made using a valid credit card, and the Renter authorizes the Company to charge the card for all
    rental fees and related charges.</p>

    <p><b>6. Cancellation and Refund Policy:</b></p>

    <p>The Renter must provide [Minimum Cancellation Notice] hours of notice for cancellations. Failure to cancel within
    this period may result in a cancellation fee.
    Refunds, if applicable, will be subject to the Company's refund policy as specified in the rental agreement.</p>
    <p><b>7. Insurance:</b></p>

    <p>The Company provides basic insurance coverage as part of the rental agreement. Additional insurance coverage options
    are available for purchase.
    The Renter is responsible for any deductibles and excess amounts as outlined in the rental agreement.</p>
    <p> Vehicle Maintenance and Breakdown:</p>

    <p>The Company is responsible for maintaining the vehicle in safe and operational condition.
    In the event of a breakdown, accident, or damage to the vehicle, the Renter must immediately contact the Company and
    follow the instructions provided.</p>
    <p><b>9. Prohibited Actions</b></p>

    <p>Smoking, transporting illegal substances, and reckless driving are strictly prohibited while operating the rented
    vehicle.
    The Renter must not allow unauthorized individuals to drive the vehicle.</p>
    <p><b>10. Return of Vehicle</b></p>

    <p>The Renter agrees to return the vehicle to the designated return location on the specified return date and time.
    Late returns may result in additional charges.</p>
    <p><b>11. Penalties and Damages:</b></p>

    <p>The Renter is responsible for any fines, penalties, or damages incurred during the rental period.
    Any disputes regarding damages will be resolved based on the inspection report conducted by the Company.</p>
    <p><b>12. Termination:</b></p>

    <p>The Company reserves the right to terminate the rental agreement if the Renter breaches any terms or conditions or
    misuses the vehicle.</p>
    <p><b> Governing Law:</p></b>

    <p> agreement is governed by the laws of [Your Jurisdiction].
    By agreeing to these terms and conditions, the Renter acknowledges and accepts these terms and
    conditions. The Renter should thoroughly review and understand the terms before signing the rental agreement.
    </p>
    </p>
</div>
</body>

</html>