* {
    text-decoration: none;
}

body {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-image: url('../images/landing.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar {
    background: rgb(42, 42, 42);
    font-family: calibri;
    padding-top: 0px; /* Adjust the top padding to 2px */
    padding-bottom: 0px; /* Adjust the bottom padding to 2px */
    margin: 0; /* Remove margin */
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px; /* Keep horizontal padding as it is */
}

.brand a {
    font-size: 15px; /* Reduce the font size for the brand */
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    color: white;
    font-size: 18px; /* Reduce the font size for the links */
    font-weight: bold;
    margin-right: 25px; /* Adjust the margin as needed */
}

nav button {
    background-color: black;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px; /* Adjust the padding for buttons */
    width: 90px; /* Adjust the width for buttons */
}

nav button a {
    color: white;
    font-weight: bold;
    font-size: 15px; /* Reduce the font size for button text */
}

.red-text {
    color: red;
    font-weight: bold;
}
